In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import re
import plotly.express as px

#### Import Data Sheets
- Metadata = df
- Subject Info = SI
- Area counts = AC

In [3]:
df = pd.read_excel('Raw Data/Unlinked Metadata 0625.xlsx')
df.head()

,Subject ID,Patient Consented,Sample Type_#,CGA,DOL,Current Weight,Current Height,Current HC,Scavenged/Fresh?,MBM/DMB?,HMF Y/N?,TPN Y/N?,Iron Y/N?,Linked?,# Aliquots,Additional Comments
0,NB00012,N,NB00012_M_1,28.4,27,1430,32.0,26.0,Scavenged,MBM + DBM,Y,NaN,NaN,N,5 (~0.8),Residual from Milk Prep Room & B2 Full
1,NB00003,Y,NB00003_M_1,29.0,22,995,35.7,23.7,Scavenged,DBM,Y,N,Y,N,2,Scavenged Feeding Tube
2,NB00003,Y,NB00003_M_2,29.0,22,1005,36.0,24.4,Scavenged,DBM,Y,N,Y,N,1,Scavenged Feeding Tube
3,NB00003,Y,NB00003_M_3,29.3,25,1065,36.0,24.3,Scavenged,DBM,Y,N,Y,N,1,Scavenged Feeding Tube
4,NB00354,N,NB00354_M_1,29.4,12,1005,34.0,34.5,Scavenged,MBM,Y,Y,NaN,N,7,Residual from Milk Prep Room

In [4]:
df.columns = df.columns.str.strip()  # Remove leading/trailing whitespace from column names

In [5]:
df.columns

Index(['Subject ID', 'Patient Consented', 'Sample Type_#', 'CGA', 'DOL',
       'Current Weight', 'Current Height', 'Current HC', 'Scavenged/Fresh?',
       'MBM/DMB?', 'HMF Y/N?', 'TPN Y/N?', 'Iron Y/N?', 'Linked?',
       '# Aliquots', 'Additional Comments'],
      dtype='object')

In [7]:
SI = pd.read_excel('Raw Data/Unlinked Subject Metadata.xlsx', sheet_name='Subject Metadata')
SI

,Subject ID,Infant Sex,Birth Weight (g),Birth Length (cm),Birth HC (cm),LOS (days)
0,NB00001,Male,2090,43.0,30.8,19
1,NB00002,Male,1015,35.5,26.0,68
2,NB00003,Female,850,34.0,24.0,130
3,NB00004,Male,1085,35.0,26.5,114
4,NB00005,Female,1180,36.0,24.0,85
5,NB00006,Male,1220,36.0,27.5,77
6,NB00007,Male,2170,43.0,32.0,44
7,NB00008,Male,1690,39.0,29.0,65
8,NB00009,Female,1095,38.2,25.5,88
9,NB00010,Female,610,32.0,21.5,50
10,NB00011,Male,2600,44.0,32.5,11
11,NB00012,Male,790,32.0,23.8,31
12,NB00013,Male,1075,38.0,21.3,77
13,NB00014,Female,865,35.0,25.0,83
14,NB00015,Male,3275,49.0,32.0,401
15,NB00237,Male,775,34.0,22.0,113
16,NB00238,Male,550,39.5,22.0,149
17,NB00354,Male,950,34.0,34.5,97
18,NB00359,Female,1155,39.0,27.5,46
19,NB00360,Male,1460,40.0,29.5,17
20,NB00361,Male,1110,38.0,27.0,53
21,NB00362,Male,1690,40.0,30.0,17
22,NB00365,Male,1695,40.0,28.0,46
23,NB00378,Female,2330,47.0,32.0,41
24,NB00379,Female,860,32.0,24.0,4
25,NB00380,Male,1345,35.5,29.0,51
26,NB00393,Female,1165,37.0,27.0,45
27,NB00398,Female,1050,34.0,24.5,89
28,NB00399,Male,1550,40.8,28.8,44
29,NB00400,Male,594,29.0,21.0,129
30,NB00414,Male,1215,36.0,27.8,55
31,NB00423,Male,1565,43.0,29.0,53
32,NB00438,Female,1475,41.0,28.5,54
33,NB00457,Male,1995,43.0,29.0,30
34,NB00468,Male,2560,45.0,33.5,17

In [8]:
df = df.merge(SI, on="Subject ID", how="left")

In [9]:
df

,Subject ID,Patient Consented,Sample Type_#,CGA,DOL,Current Weight,Current Height,Current HC,Scavenged/Fresh?,MBM/DMB?,...,TPN Y/N?,Iron Y/N?,Linked?,# Aliquots,Additional Comments,Infant Sex,Birth Weight (g),Birth Length (cm),Birth HC (cm),LOS (days)
0,NB00012,N,NB00012_M_1,28.4,27,1430,32.0,26.0,Scavenged,MBM + DBM,...,NaN,NaN,N,5 (~0.8),Residual from Milk Prep Room & B2 Full,Male,790,32.0,23.8,31
1,NB00003,Y,NB00003_M_1,29.0,22,995,35.7,23.7,Scavenged,DBM,...,N,Y,N,2,Scavenged Feeding Tube,Female,850,34.0,24.0,130
2,NB00003,Y,NB00003_M_2,29.0,22,1005,36.0,24.4,Scavenged,DBM,...,N,Y,N,1,Scavenged Feeding Tube,Female,850,34.0,24.0,130
3,NB00003,Y,NB00003_M_3,29.3,25,1065,36.0,24.3,Scavenged,DBM,...,N,Y,N,1,Scavenged Feeding Tube,Female,850,34.0,24.0,130
4,NB00354,N,NB00354_M_1,29.4,12,1005,34.0,34.5,Scavenged,MBM,...,Y,NaN,N,7,Residual from Milk Prep Room,Male,950,34.0,34.5,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,NB00007,Y,NB00007_M_3,39.2,17,2340,44.0,33.0,Scavenged,MBM,...,NaN,NaN,N,6 (~0.8),Residual from Milk Prep Room,Male,2170,43.0,32.0,44
130,NB00007,Y,NB00007_M_4,39.3,18,2380,44.0,33.0,Scavenged,MBM,...,NaN,NaN,N,7,Residual from Milk Prep Room,Male,2170,43.0,32.0,44
131,NB00379,Y,NB00379_M_1,39.6,98,3073,45.0,33.2,Scavenged,MBM,...,N,NaN,N,7,Residual from Milk Prep Room - Baby not on NG ...,Female,860,32.0,24.0,4
132,NB00007,Y,NB00007_M_5,40.0,23,2430,45.0,34.5,Scavenged,MBM,...,NaN,NaN,N,2,Residual from Milk Prep Room,Male,2170,43.0,32.0,44
133,NB00007,Y,NB00007_M_7,40.2,23,2400,45.0,34.5,Scavenged,MBM,...,NaN,NaN,N,6,Residual from Milk Prep Room,Male,2170,43.0,32.0,44

In [10]:
# Rename columns for consistency

df = df.rename(columns={"Sample Type_#": "sample_unique_id"})

In [11]:
df["sample_unique_id"] = df["sample_unique_id"].astype(str).str.strip()  # Ensure sample_unique_id is a string and strip whitespace

#### Merge the Metadata and Area Counts DataFrames
- inner join = samples that exist in both DataFrames

In [12]:
merged = df.copy()

In [13]:
print(merged.shape) #number of rows is the number of samples that exist in both DataFrames, 128

(134, 21)

In [14]:
merged.columns

Index(['Subject ID', 'Patient Consented', 'sample_unique_id', 'CGA', 'DOL',
       'Current Weight', 'Current Height', 'Current HC', 'Scavenged/Fresh?',
       'MBM/DMB?', 'HMF Y/N?', 'TPN Y/N?', 'Iron Y/N?', 'Linked?',
       '# Aliquots', 'Additional Comments', 'Infant Sex', 'Birth Weight (g)',
       'Birth Length (cm)', 'Birth HC (cm)', 'LOS (days)'],
      dtype='object')

#### Sample Inconsistencies?

### Clean Contents of Merged DataFrame

In [15]:
# Remove all spelling and capitalization inconsistencies in the 'Scavenged/Fresh?' column

merged["Scavenged/Fresh?"].value_counts()

Scavenged/Fresh?
Scavenged     114
Scavenged      19
scavenged       1
Name: count, dtype: int64

In [16]:
def normalize_scavenged(value):
    if isinstance(value, str) and value.strip().lower().startswith('scavenged'):
        return 'Scavenged'
    return value

merged["Scavenged/Fresh?"] = merged["Scavenged/Fresh?"].apply(normalize_scavenged)

In [17]:
merged["Scavenged/Fresh?"].value_counts()

Scavenged/Fresh?
Scavenged    134
Name: count, dtype: int64

In [18]:
merged["MBM/DMB?"].value_counts()

MBM/DMB?
MBM                       89
DBM                       22
Switched to Fortifier     11
MBM                        5
MBM + DBM                  2
MBM+DBM                    1
FBM/MBM                    1
Name: count, dtype: int64

In [19]:
 # Remove all spelling and capitalization inconsistencies in the 'MBM/DMB?' column

def code_mbm(value):
    if isinstance(value, str) and value.strip().lower().replace(' ', '') == 'mbm':
        return 'MBM'
    return value

merged["MBM/DMB?"] = merged["MBM/DMB?"].apply(code_mbm)

In [20]:
merged["MBM/DMB?"].value_counts()

MBM/DMB?
MBM                       94
DBM                       22
Switched to Fortifier     11
MBM + DBM                  2
MBM+DBM                    1
FBM/MBM                    1
Name: count, dtype: int64

In [26]:
# Update "MBM/DMB?" column values for clarity
merged["MBM/DMB?"] = merged["MBM/DMB?"].replace({
    "MBM": "MOM",
    "MBM + DBM": "MOM + DBM",
    "Switched to Fortifier ": "Switched to Formula",
    "MBM+DBM": "MOM + DBM"})

In [27]:
merged["MBM/DMB?"].value_counts()

MBM/DMB?
MOM                    94
DBM                    22
Switched to Formula    11
MOM + DBM               3
FBM/MBM                 1
Name: count, dtype: int64

In [28]:
merged["Iron Y/N?"].value_counts()

Iron Y/N?
Y    51
N    26
Name: count, dtype: int64

In [29]:
# Normalize the aliquots column to extract numeric values

def extract_numeric_aliquots(value):
    match = re.match(r'^\d+', str(value))
    return int(match.group()) if match else None

merged['Aliquots_num'] = merged['# Aliquots'].apply(extract_numeric_aliquots)

In [30]:
merged["Aliquots_num"].value_counts()

Aliquots_num
1     59
7     12
5     10
2      9
3      9
9      8
6      7
4      7
8      6
10     3
13     2
14     1
11     1
Name: count, dtype: int64

In [31]:
merged = merged.drop(columns=["# Aliquots"])

In [32]:
merged.columns

Index(['Subject ID', 'Patient Consented', 'sample_unique_id', 'CGA', 'DOL',
       'Current Weight', 'Current Height', 'Current HC', 'Scavenged/Fresh?',
       'MBM/DMB?', 'HMF Y/N?', 'TPN Y/N?', 'Iron Y/N?', 'Linked?',
       'Additional Comments', 'Infant Sex', 'Birth Weight (g)',
       'Birth Length (cm)', 'Birth HC (cm)', 'LOS (days)', 'Aliquots_num'],
      dtype='object')

#### Additional Comments Cleaning

In [33]:
merged["Additional Comments"].value_counts()

Additional Comments
Residual from Milk Prep Room                                                       70
Scavenged Feeding Tube                                                             51
Scavenged Feeding Tube + NaCl Oral Solution                                         3
Residual from Milk Prep Room & B2 Full                                              1
Scavenged Feeding Tube - Nurse needed to feed extra 1 mL                            1
Scavenged Feeding Tube - also started on sodium chloride oral solution 6/15/24      1
Scanvenged Feeding Tube - Collected Outside of 4 hr Window                          1
Scavenged Feeding Tube + NaCl Oral Solution - Pt intubated 6/25 & is NPO            1
Scavenged Feeding Tube - Outside 4-hr .indo. by 2 hours                             1
Scavenged Feeding Tube - Intubated 6/25 - NPO, restarted NG feeds 7/2               1
Scavenged Feeding Tube - Parenteral Nutrition Stopped                               1
Scavenged Feeding Tube - Last NG Feed 7/2                                           1
Residual from Milk Prep Room - Baby not on NG Feeds no linked sample                1
Name: count, dtype: int64

In [34]:
# Extract scavenged notes from the 'Additional Comments' column

def extract_scavenged_notes(comment):
    if isinstance(comment, str) and "scavenged feeding tube" in comment.lower():
        # Look for + or - and any text after it
        match = re.search(r"(scavenged feeding tube.*?)([+-].*)", comment, re.IGNORECASE)
        if match:
            return match.group(2).strip()
    return None

merged["scavenged notes"] = merged["Additional Comments"].apply(extract_scavenged_notes)

In [35]:
merged["scavenged notes"].value_counts()

scavenged notes
+ NaCl Oral Solution                                       3
- Nurse needed to feed extra 1 mL                          1
- also started on sodium chloride oral solution 6/15/24    1
+ NaCl Oral Solution - Pt intubated 6/25 & is NPO          1
- Outside 4-hr .indo. by 2 hours                           1
- Intubated 6/25 - NPO, restarted NG feeds 7/2             1
- Parenteral Nutrition Stopped                             1
- Last NG Feed 7/2                                         1
Name: count, dtype: int64

In [36]:
# Remove leading '+', '-', or spaces from 'scavenged notes'
merged["scavenged notes"] = merged["scavenged notes"].str.lstrip('+- ').replace('', None)

In [37]:
def clean_scavenged_feeding_tube(comment):
    if isinstance(comment, str):
        # Find 'scavenged feeding tube' and remove everything after it (including +, -, or any text)
        match = re.search(r"(scavenged feeding tube)", comment, re.IGNORECASE)
        if match:
            return comment[:match.end()].strip()
    return comment

merged["Additional Comments"] = merged["Additional Comments"].apply(clean_scavenged_feeding_tube)

In [38]:
merged["Additional Comments"].value_counts()

Additional Comments
Residual from Milk Prep Room                                            70
Scavenged Feeding Tube                                                  61
Residual from Milk Prep Room & B2 Full                                   1
Scanvenged Feeding Tube - Collected Outside of 4 hr Window               1
Residual from Milk Prep Room - Baby not on NG Feeds no linked sample     1
Name: count, dtype: int64

In [39]:
# Update "Residual from Milk Prep Room & B2 Full" to "Residual from Milk Prep Room" in 'Additional Comments'
merged["Additional Comments"] = merged["Additional Comments"].replace(
    "Residual from Milk Prep Room & B2 Full", "Residual from Milk Prep Room"
)

In [40]:
merged["Additional Comments"].value_counts()

Additional Comments
Residual from Milk Prep Room                                            71
Scavenged Feeding Tube                                                  61
Scanvenged Feeding Tube - Collected Outside of 4 hr Window               1
Residual from Milk Prep Room - Baby not on NG Feeds no linked sample     1
Name: count, dtype: int64

In [41]:
merged["Additional Comments"] = merged["Additional Comments"].replace(
    "Scanvenged Feeding Tube - Collected Outside of 4 hr Window ", "Scavenged Feeding Tube"
)

In [42]:
merged["Additional Comments"].value_counts()

Additional Comments
Residual from Milk Prep Room                                            71
Scavenged Feeding Tube                                                  62
Residual from Milk Prep Room - Baby not on NG Feeds no linked sample     1
Name: count, dtype: int64

In [43]:
merged["Additional Comments"] = merged["Additional Comments"].replace(
    "Residual from Milk Prep Room - Baby not on NG Feeds no linked sample", "Residual from Milk Prep Room"
)

In [44]:
merged["Additional Comments"].value_counts()

Additional Comments
Residual from Milk Prep Room    72
Scavenged Feeding Tube          62
Name: count, dtype: int64

In [45]:
merged["Additional Comments"] = merged["Additional Comments"].replace(
    "Residual from Milk Prep Room", "Prepped in Milk Room"
)

In [46]:
merged["Additional Comments"].value_counts()

Additional Comments
Prepped in Milk Room      72
Scavenged Feeding Tube    62
Name: count, dtype: int64

In [47]:
merged[["Additional Comments", "scavenged notes"]]

        Additional Comments scavenged notes
0      Prepped in Milk Room            None
1    Scavenged Feeding Tube            None
2    Scavenged Feeding Tube            None
3    Scavenged Feeding Tube            None
4      Prepped in Milk Room            None
..                      ...             ...
129    Prepped in Milk Room            None
130    Prepped in Milk Room            None
131    Prepped in Milk Room            None
132    Prepped in Milk Room            None
133    Prepped in Milk Room            None

[134 rows x 2 columns]

In [48]:
merged["Additional Comments"].value_counts()

Additional Comments
Prepped in Milk Room      72
Scavenged Feeding Tube    62
Name: count, dtype: int64

In [49]:
def classify_sample_method(comment):
    if isinstance(comment, str):
        if "scavenged" in comment.lower():
            return "Scavenged"
        elif "milk room" in comment.lower():
            return "Prepped in Milk Room"
    return "Other"

merged["Sample Source"] = merged["Additional Comments"].apply(classify_sample_method)

In [50]:
merged["Sample Source"].value_counts()

Sample Source
Prepped in Milk Room    72
Scavenged               62
Name: count, dtype: int64

In [51]:
merged = merged.drop(columns=["Additional Comments"])

In [53]:
merged.columns

Index(['Subject ID', 'Patient Consented', 'sample_unique_id', 'CGA', 'DOL',
       'Current Weight', 'Current Height', 'Current HC', 'Scavenged/Fresh?',
       'MBM/DMB?', 'HMF Y/N?', 'TPN Y/N?', 'Iron Y/N?', 'Linked?',
       'Infant Sex', 'Birth Weight (g)', 'Birth Length (cm)', 'Birth HC (cm)',
       'LOS (days)', 'Aliquots_num', 'scavenged notes', 'Sample Source'],
      dtype='object')

In [54]:
# Rename columns to remove '?' and 'Y/N' for clarity
merged = merged.rename(columns={
    "Scavenged/Fresh?": "Scavenged or Fresh",
    "MBM/DMB?": "Type of Milk",
    "HMF Y/N?": "HMF",
    "TPN Y/N?": "TPN",
    "Iron Y/N?": "Iron",
    "Linked?": "Linked"
})

In [ ]:
merged

## Download the cleaned and merged DataFrame

In [56]:
merged.to_excel('Cleaned Data/cleaned_unlinked_updated.xlsx', index=False)

#### want to make a new column with the mother's secretor status for each sample based on the first MBM sample for each subject