In [1]:
import numpy as np
import pandas as pd

In [2]:
verypreterm_boy_hc = pd.read_csv("/Users/kspann/Desktop/NeoBank/INTERGROWTH/Zscores/VERY PRETERM Zscores/IG21_headcirc_zscores_boys_long.csv")
verypreterm_girl_hc = pd.read_csv("/Users/kspann/Desktop/NeoBank/INTERGROWTH/Zscores/VERY PRETERM Zscores/IG21_headcirc_zscores_girls_long.csv")

verypreterm_boy_len = pd.read_csv("/Users/kspann/Desktop/NeoBank/INTERGROWTH/Zscores/VERY PRETERM Zscores/IG21_length_zscores_boys_long.csv")
verypreterm_girl_len = pd.read_csv("/Users/kspann/Desktop/NeoBank/INTERGROWTH/Zscores/VERY PRETERM Zscores/IG21_length_zscores_girls_long.csv")

verypreterm_boy_weight = pd.read_csv("/Users/kspann/Desktop/NeoBank/INTERGROWTH/Zscores/VERY PRETERM Zscores/IG21_weight_zscores_boys_long.csv")
verypreterm_girl_weight = pd.read_csv("/Users/kspann/Desktop/NeoBank/INTERGROWTH/Zscores/VERY PRETERM Zscores/IG21_weight_zscores_girls_long.csv")

In [3]:
# concatenate all loaded preterm CSV dataframes into one
dfs = [
    verypreterm_boy_hc,
    verypreterm_girl_hc,
    verypreterm_boy_len,
    verypreterm_girl_len,
    verypreterm_boy_weight,
    verypreterm_girl_weight,
]

# ensure consistent columns (take intersection) then concat to avoid mismatched columns
common_cols = set(dfs[0].columns).intersection(*(df.columns for df in dfs[1:]))
cols = sorted(common_cols)
merged_verypreterm = pd.concat([df.loc[:, cols] for df in dfs], ignore_index=True)

# quick sanity check
print(f"merged_verypreterm: {merged_verypreterm.shape[0]} rows, {merged_verypreterm.shape[1]} columns")
merged_verypreterm.head()

merged_verypreterm: 1323 rows, 7 columns

   ga_label  ga_weeks ga_weeks_days measure   sex  value  z_level
0        24        24          24+0      hc  male  17.66       -3
1        24        24          24+0      hc  male  19.22       -2
2        24        24          24+0      hc  male  20.78       -1
3        24        24          24+0      hc  male  22.34        0
4        24        24          24+0      hc  male  23.90        1

In [4]:
merged_verypreterm['measure'].value_counts()

measure
wt        665
length    420
hc        238
Name: count, dtype: int64

In [6]:
out_path = "merged_verypreterm.csv"
merged_verypreterm.to_csv(out_path, index=False)
print(f"Saved merged_preterm to {out_path} ({merged_verypreterm.shape[0]} rows, {merged_verypreterm.shape[1]} columns)")

Saved merged_preterm to merged_verypreterm.csv (1323 rows, 7 columns)

In [ ]:
import path as pth

# ensure destination directory exists then save merged_verypreterm
dest_file.parent.mkdir(parents=True, exist_ok=True)
merged_verypreterm.to_csv(dest_file, index=False)
print(f"Saved copy to {dest_file} ({merged_verypreterm.shape[0]} rows)")